@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* Force scrollbar */
html {
  overflow-y: scroll;
}

/* Align radios and text inputs with their label */

input[type='radio'] {
  vertical-align: text-bottom;
}

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em {
  font-style: italic;
}

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup {
  top: -.7em;
}

sub {
  bottom: -.25em;
}

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  display: inline-block;
  text-decoration: none;
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 886px;
  width: 58%;
  margin: 0 auto;
}

.heading {
  font-size: 22px;
  color: #f2ffda;
}

/*=================================
  Header styling starts here
=================================*/

header .wrapper {
  padding: 22px 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 a {
  text-indent: -9999px;
}

h1 img {
  float: left;
  flex-basis: 100%;
}

.hamburger {
  display: none;
}

nav {
  width: 51%;
  white-space: nowrap;
}

.nav-list a {
  padding: 8px 15px;
  margin: 2px 5px;
  font-size: 11px;
  color: #333333;
  text-transform: uppercase;
}

.nav-list li:last-child {
  margin-right: 0;
  padding-right: 0;
}

/*=================================
  Header styling ends here
=================================*/

/*=================================
  main styling starts here
=================================*/


/* banner start */

.banner {
  background: #a0c63f;
}

.banner {
  position: relative;
}

.banner-slider .active-slide {
  padding: 27px 0 42px;
  display: flex;
  justify-content: space-between;
}

.banner-slider li {
  display: none;
}

.banner-description {
  flex-basis: 39%;
}

.banner-slider .heading {
  padding-top: 42px;
  text-align: center;
  text-transform: uppercase;
  line-height: 35px;
  letter-spacing: 1px;
}

.arrows {
  text-indent: -9999px;
  display: flex;
  align-items: center;
}

.prev::before,
.next::before {
  content: "\f137";
  text-indent: 0;
  font-family: "fontAwesome";
  color: #fff;
  font-size: 50px;
  position: absolute;
  top: 50%;
  left: 5%;
  transition: .3s all ease;
}

.next::before {
  content: "\f138";
  left: unset;
  right: 5%;
}

/* banner end */

/* elegant start */

.elegant {
  padding-top: 30px;
  background-color: #f8f8f8;
  text-align: center;
}

.elegant .heading {
  padding-bottom: 30px;
  margin-bottom: 38px;
  border-bottom: 3px dashed #e8e8e8;
  color: #202020;
  text-transform: uppercase;
  font-size: 28px;
}

.green-text {
  color: #97ae6a;
}

.business-features {
  display: flex;
  justify-content: space-between;
}

.upper-text {
  font-size: 28px;
}

.upper-text,
.lower-text {
  color: #1d1d1d;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.lower-text {
  text-transform: capitalize;
}

.business-features {
  margin-bottom: 38px;
}

.business-features li {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 21%;
}

.business-features li a {
  width: 105px;
  height: 105px;
  padding: 10px;
  background-color: #a0c63f;
  border: 20px solid #fff;
  border-radius: 50%;
  position: relative;
  text-indent: -99999px;
}

.business-features li a::before {
  position: absolute;
  top: 50%;
  left: 50%;
  font-family: "fontAwesome";
  text-indent: 0;
  color: #fff;
  font-size: 66px;
  transform: translate(-50%, -50%);
  transition: .3s all ease;
}

.amazing-item a:before {
  content: "\f1b8";
}

.hour-item a:before {
  content: "\f095";
}

.web-item a:before {
  content: "\f013";
}

.mobile-item a:before {
  content: "\f3ce";
}

.business-features li a {
  margin-bottom: 11px;
}

.upper-text {
  margin-bottom: 5px;
}

/* elegant end*/

/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/







/*=================================
  footer styling ends here
=================================*/

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {}